.container{
    width: 300px;
    height: 330px;
    background-color: var(--primary-color);
    border-radius: 20px;
    box-shadow: var(--accent-color);
    padding: 22px;
    color: #ffffff;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}
.container:hover{
    animation: smoothBounce 0.8s ease-in-out;;
}
@keyframes smoothBounce {
    0% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(-12px);
    }
    50% {
      transform: translateY(0);
    }
    70% {
      transform: translateY(-6px);
    }
    100% {
      transform: translateY(0);
    }
  }