:root{
  --bg-color: #0a0a2e;
  --primary-color: #1C1C65;
  --accent-color: #AE54EE;
  --text-color-primary: #ffffff;
}
[data-theme = "light"]{
  --bg-color: #ffffff;
  --primary-color: #c43d3d;
  --accent-color: #c43d3d;
  --text-color-primary: #000000;
}
